ul{
	
	list-style:none;
	display:inline-block;
	padding:1px;
}
li{
	background:linear-gradient(grey,green);
	text-align:center;
	font-weight:bold;
	border:3px solid black;
	display:block;
	padding:3px;
	
}
li:hover{
	color:lightblue;
	background:linear-gradient(burlywood,orange);
}
#home{
	
	text-decoration:none;
}